@import 'main.css';


#bg{

 background-repeat: no-repeat;
 background-size:1290px 800px;
 /*padding: 15px;
 max-width: 1300px;
 margin: auto;*/
 padding-left: 25px;
 padding-top: 25px;
 background:radial-gradient(#fff,#ffd6d6);
 
}


/* header style */
header{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    justify-content:space-between;
   

}

header a {
    color: white;
    
}

.navbar ul{
    display:flex;
    position: relative;
} 

.navbar li{
    list-style-type: none;
    font-size: 20px;
    padding: 0 2rem;
}


.navbar li a{
    text-decoration: none;
    color: var(--gray-900);
}
h2 span{
    color:var(--pink-200);
    position: relative;
    
    left: -3px;
}


.signbar ul{
    margin: 10px ;
} 


.signbar li{
    list-style-type: none;
    position: relative;
    top:-15px;
    left:80x;
    color: white;
}

.signbar ul {
    display: flex;
    flex-direction: row;
}

#sign-in , #sign-up{
    text-align: center;
    padding: 6px 12px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: var(--green-800);
   box-shadow: 2px -3px 4px 0px rgba(0, 0, 0, 0.2);
    font-size:15px;
    position: relative;
    top: -16px;
    
}
#sign-in{
    background-color: var(--green-800);
    box-shadow: 1px -3px 6px 0px rgba(0, 0, 0, 0.3);

    font-size:15px;
    width: 140px;
    

}
#sign-up{
    width: 140px;
    font-size: 15px;
}


#sign-in a , #sign-up a{
    text-decoration: none;
}


.logo img{

}


/* hero section style */

#hero h2{
    color: var(--green-800);
    font-size: 35px;
    position:absolute;
    margin-left: 230px;
    margin-top: 125px;
}

 .search {
    display: flex;
    height: 40px;
    margin: 10px;
    position: relative;
    top: 220px;
    left: 220px;
}

.hero-img{
    max-width: 450px;
}

#hero .searchbox{
    width: 390px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid;
    border-right: none;
    text-transform: capitalize;

}

#hero .searchbtn{
    width: 50px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}



#hero img{
    width: 410px;
    height: 380px;
    position:relative;
    left: 800px;
    top: -30px;
}
.theme-text {
    color: var(--pink-200);
  }
  
.card-img-top {
    height: 150px;
    width: 80%;
  }
.card {
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
    
  }
.card:hover {
    color: white !important;
    
  }
.card::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0%;
    background: #275a52;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
  }
.card:hover::before {
    left: 0%;
    color: white;
  }
.container-fluid {
    background-image: url("blob-scene-haikei.svg");
    background-position: center;
    background-size: cover;
  }


/* steps section style */
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 0px 20px;
    border: 1px inset;
    border-radius: 10px;
    margin: 15px;
}

.user ol{
    display:flex;
    align-items:flex-start;
    justify-content:space-around; 
    border: 1px outset;
    color: white;
    background-color: var(--green-800);
    visibility: hidden;
}

.user li{
    width: 80px;
    padding: 5px;
    margin-right: 20px;
    
}

.user img{
    width: 100px;
    height: 100px;
}

.client button, .freelancer button{
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
.user p{
    font-weight: 800 ;
}





/* services section style */
#services{
    border: 1px inset;
    border-radius: 10px;
    margin: 15px 5px 15px 5px;
}

.cards{
  /*  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 20px;
    padding: 8px;
    border: 1px outset transparent;
    border-radius: 10px;
    box-shadow: 0 4px 14px 0 rgb(0 0 0/ 10%);
    background-color: white;
    text-decoration: none;*/
    position: relative;
}

.cards::before{
    content: "";
    position: absolute;
    background-color: var(--pink-200);
    border-radius: 10px 10px 0px 0px;
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0;
}

.card-content{
    z-index: 100;
    
}


.card-content .img-freelancer img{
    width: 80px;
    height: 80px;
    position: relative;
    left: 80px;
    top: 24px;
    background-color: white;
    border-radius: 50%;
}

.card-content .name , .card-content .speciality{
    text-align: center;
}

#evaluation{
    text-align: center;
    margin: 20px 10px 5px 0px;
} 





.name{
    position: relative;
    top: 22px;
}
 span{
    position: relative;
    left: 20px;
}
.speciality{
    position: relative;
    top: 5px;
}
#services h3{
    position: relative;
    left: 600px;
}




/* footer style */
footer{
    background-color:var(--green-800);
    padding: 5px;
    font: 1em sans-serif;
    width: 99%;
    height: 100%;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

footer .social ul{
    display: flex; 
    justify-content:flex-start; 
    justify-content: space-evenly; 
}



footer li{
    list-style-type: none;
    padding: 10px;
    /* margin: 10px; */
}

footer .navigation{
    display: flex ;
    
}

footer a{
    text-decoration: none;
    color: white;
}


footer h1{
    color:var(--green-800);
    background-color: white;
    padding: 3px;
}

footer p{
    text-align: center;
    color:white;
}

footer h3 , footer span{
    color: white;
}