@import 'main.css';
.bg{

    background-repeat: no-repeat;
    background-size:1290px 800px;
    /*padding: 15px;
    max-width: 1300px;
    margin: auto;*/
    padding-left: 25px;
    padding-top: 25px;
    background:radial-gradient(#fff,var(--pink-50));
   }
   .card-img-top{
       max-width: 250px;
       max-height: 250px;
   }
   .card{
       min-height: 600px;
       display: flex;
       flex-direction: column;
       
   }
   
   /* header style */
   header{
       display: flex;
       justify-content: center;
       flex-wrap:wrap;
       justify-content:space-between;
      
   
   }
   
   header a {
       color: white;
       
   }
   
   .navbar ul{
       display:flex;
       position: relative;
   } 
   
   .navbar li{
       list-style-type: none;
       font-size: 20px;
       padding: 0 2rem;
   }
   
   
   .navbar li a{
       text-decoration: none;
       color: var(--gray-900);
   }
   h2 span{
       color:var(--pink-200);
       position: relative;
       
       left: -3px;
   }
   
   
   .signbar ul{
       margin: 10px ;
   } 
   
   
   .signbar li{
       list-style-type: none;
       position: relative;
       top:-15px;
       left:80x;
       color: white;
   }
   
   .signbar ul {
       display: flex;
       flex-direction: row;
   }
   