@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --pink-200: #f26852;
    --pink-50: #f267522d;
    --green-900: #275a5f;
    --green-800: #2F6E74;
    --green-600: #41979F;
    --gray-900: #131515;
    --gray-800: #373b3b;
    --gray-600: #4E5656;
    --gray-200: #D4D8D8;
    --off-white: #EDEDF4;
}


/* BOOTSTRAP CLASSES OVERITE */
.form-control,.form-select{
    border: 1px var(--gray-200) solid !important;
}

.form-control:focus{
    border: 1px var(--green-600) solid !important;
}

.form-control:focus,.form-select:focus{
    box-shadow: none !important;
}
/* BOOTSTRAP CLASSES OVERITE */




body{
    background-color: var(--off-white);
    font-family: 'Mulish', sans-serif !important;
}
.h-screen{
    min-height: 100vh;
}
.h-90{
    min-height: 90vh;
}
.h-10{
    min-height: 10vh;
}
.bg-off-white{
    background-color: var(--off-white);
}
.btn-green{
    background-color: var(--green-800);
    color: var(--off-white);
    font-weight: 700;
    border-radius: 2rem;
}
.btn-green:hover{
    background-color: var(--green-900);
    color: var(--off-white);
}
.btn-outline-green{
    border:1px var(--gray-900) solid;
    color: var(--gray-600);
}
.btn-outline-green:checked{
    box-shadow: none !important;
    border:1px var(--gray-900) solid;
    color: var(--gray-600);
}

.btn-light-orange{
    color: var(--pink-200);
    background-color: white;
    font-weight: 700;
}
.btn-light-orange:hover{
    background-color: var(--off-white);
    color: var(--pink-200);
}

.ctm-link{
    color: var(--gray-600);
    text-decoration: none;
    transition: all 0.2s;
}
.ctm-link:hover{
    color: var(--green-600);
}

.ctm-label{
    font-weight: 700;
    color: var(--gray-900);
}
.ctm-icon svg{
    background-color: var(--off-white);
    border-radius: 50%;
    width: 36px;
    height:  36px;
    padding: .5rem;
    color: var(--gray-600);
}
.ctm-icon-square svg{
    background-color: var(--off-white);
    border-radius: .25rem;
    width: 36px;
    height:  36px;
    padding: .5rem;
    color: var(--gray-600);
}

.ctm-title{
    color: var(--gray-900);
    font-weight: 800;
}


.navbar-link{
    color: var(--gray-800) !important;
    position: relative;
    transition: all .1s;
    
}
/*.navbar-link::before{
    content: "";
    overflow: hidden;
    outline: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 2px var(--pink-200) solid;
    transform: translateX(-100%);
    transition: all .1s;
}

.navbar-link:hover + .navbar-link::before{
    transform: translateY(0);
}*/

.navbar-link:hover{
    color: var(--pink-200) !important;
}